/* колір основного тексту #212121 */
/* вторинний колір #252525 */
/* колір фону #FFFFFF */
/* вторинний колір фону #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --logo-header-color: #000000;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.footer-list .link:hover,
.footer-list .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Page header */

.page-header {
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .studio {
  color: var(--logo-header-color);
}

.logo .studio-footer {
  color: var(--primary-background-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts list */
.contacts-list .link {
  color: var(--primary-text-color);
}

/* Hero */

.hero {
  background: #2f303a;
  text-align: center;
}

.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .text {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* Team */

.team {
  background: #f5f4fa;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-list .profession {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-text-color);
}

.team-list .photo {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Footer */

.footer {
  background: #2f303a;
}

footer .logo {
  margin-top: 60;
  margin-bottom: 20px;
}

.footer-text {
  font-style: normal;
}

.adress {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
}

.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

/* ПОРТФОЛІО */

.filters-list .filter {
  min-width: none;
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;
}

.filters-list .filter:hover,
.filters-list .filter:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.projects-list .link {
  text-decoration: none;
}

.projects-list .illustration {
  margin-bottom: 20px;
}

.projects-list .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projects-list .description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

/* Button */
.button {
  padding: 10px 32px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
